# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# secrets
.streamlit/secrets.toml

# files
.xlsx
.csv
.png