Authlib==1.6.5
httpx==0.28.1
boto3==1.38.25
google-auth==2.39.0
google-cloud-firestore==2.20.2
google-cloud-storage==3.1.0
XlsxWriter==3.2.3
openpyxl==3.1.5
plotly==6.8.0
streamlit==1.58.0
pandas==2.3.3
numpy==1.26.4
pydantic==2.13.4
google-genai==2.8.0
